{% extends "layout.html" %}

{% block title %}
    portofolio
{% endblock %}

{% block main %}

    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in portofolio %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.total_shares }}</td>
                    <td>{{ stock.price | usd }}</td>
                    <td>{{ stock.total_value | usd }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Cash : {{ cash | usd }}</p>
    <p>Total : {{ total_value | usd }}</p>

{% endblock %}
